#top{
    text-align:center;
    background-color:red;
    color:white;
}
#wrap{
width:100%;
margin: 0 auto;
}
.image1{
text-align:center;
}
#content h1{
margin:20px;
text-align:center;
}
#content h3{
padding-left:25%;
padding-right:25%;
text-align:center;
}
ul{
display:table;
margin: 0 auto;
text-align:left;
}
footer{
background-color:red;
color:white;
text-align:center;
}
footer p{
font-size:30px;
}
